<!DOCTYPE html>
<html>
<title>The future of machine learrning</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-color: black;
    background-image: url(./img/background.gif);
    min-height: 100%;
    background-size: cover;
    background-position-x: center;
    background-blend-mode: hard-light;
}
.heading{
  text-align: center;
}
span{
  color:red;
}
.heading:hover{
  color:red;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Auto ML<span>++</span>
  </div>
  <h1 class="heading w3-display-topmiddle" style="padding-top: 10%">The future of <span>M</span>achine <span>L</span>earning is here.</h1>
  <div class="w3-display-middle">
    <h2 class="heading"><a href="./enter.html">Enter</a></h2>
  </div>
</div>

</body>
</html>
